$vertical: 35px;
$near-white: #FFFEF8;
$faded-near-white: rgba(255, 254, 248, 0.30);

$xxsmall: 320px;
$xsmall: 414px;
$small: 768px;
$medium: 1024px;
$large: 1920px;

$sf-dark: #333333;
$sf-white: #F1F1F1;
